<div class="card-header">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

<div class="card-body">
  <div id="devise-registrations-template">

    <div class="d-flex flex-column align-items-center">
      <%= render partial: "users/avatar", locals: {user: @user} %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, input_html: { value: current_user.email } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-sm btn-primary float-right" %>
      </div>
    <% end %>
  </div>
</div>

<div class="card-footer">
  <div id="footer-content">
    <h3>Cancel my account</h3>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <p class="my-0">Unhappy?</p>
      <%= link_to "Cancel my account", registration_path(resource_name), class: "btn btn-sm btn-danger float-right", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
