<div class="container" id="favorites-container">
  <div class="row pt-5">
    <div class="col-9">
      <div class="d-flex flex-row align-items-center justify-content-end">
      </div>
      <%= render partial: "favorites", collection: @favorites, as: :tv_show, locals: { type: :tv_show } %>
      <%= render partial: "shared/pagy" %>
    </div>
    <div class="col-3" id="side-pannel">
      <div class="search-bar">
        <%= search_form_for @q, url: favorites_path do |f| %>
          <%= f.search_field :name_or_overview_cont, class: "form-control", placeholder: "Search" %>
        <% end %>
      </div>
      <ul>
        <p class="pt-3">FILTER BY</p>
        <li><%= link_to 'All', favorites_path, class: class_names(active: !any_status_selected?, filter_link: true) %></li>
        <% TvShow::STATUS.each do |status| %>
          <li><%= generate_filter_link(status) %></li>
        <% end %>
      </ul>
      <ul>
        <p class="pt-3">SORT BY</p>
        <li><%= generate_sort_link(@q, :name, 'Name', :asc) %></li>
        <li><%= generate_sort_link(@q, :vote_average, 'Vote average', :desc) %></li>
        <li><%= generate_sort_link(@q, :first_air_date, 'First air date', :desc) %></li>
        <li><%= generate_sort_link(@q, :episode_run_time, 'Episode run time', :asc) %></li>
        <li><%= generate_sort_link(@q, :number_of_seasons, 'Number of seasons', :desc) %></li>
      </ul>
    </div>
  </div>
</div>
