
<div class="container">
  <div class="row pt-5">
    <div class="col-9">
      <div class="d-flex flex-row align-items-center justify-content-end">
      </div>
      <%= render partial: "favorites", collection: @favorites, as: :tv_show, locals: { type: :tv_show } %>
      <div class="float-right">
        <% if @pagy.pages > 1 %>
          <%== pagy_bootstrap_nav(@pagy) %>
        <% end %>
      </div>
    </div>
    <div class="col-3" id="pannel">
      <div class="search-bar">
        <%= search_form_for @q, url: favorites_path do |f| %>
          <%= f.search_field :name_cont, class: "form-control", placeholder: "Search" %>
        <% end %>
      </div>
      <p class="pt-3">FILTER BY</p>
      <ul>
        <li><%= link_to "All", favorites_path %></li>
        <% TvShow::STATUS.each do |status| %>
          <li><%= link_to status, favorites_path(q: {status_cont: status}) %></li>
        <% end %>
      </ul>
      <p class="pt-3">SORT BY</p>
      <ul>
        <li><%= sort_link(@q, :name, 'Name', default_order: :asc) %></li>
        <li><%= sort_link(@q, :vote_average, 'Vote average', default_order: :desc) %></li>
        <li><%= sort_link(@q, :first_air_date, 'Air Date', default_order: :desc) %></li>
        <li><%= sort_link(@q, :episode_run_time, 'Episode run time', default_order: :asc) %></li>
        <li><%= sort_link(@q, :number_of_seasons, 'Number of seasons', default_order: :desc) %></li>
      </ul>
    </div>
  </div>
</div>

