<div class="tv-container">
    <div class="poster">
      <% if tv_show.poster_path.present? %>
        <%= image_tag("#{IMAGE_URL}w200#{tv_show.poster_path}") %>
      <% else %>
        <%= image_tag("poster.svg") %>
      <% end %>
      <div class="details">
        <%= link_to tv_show_path(tv_show.tmdb_id) do %>
          <div class="dark-bg"></div>
          <%= render partial: "chart", locals: {tv_show: tv_show} %>
        <% end %>
        <%# render partial: "shared/favorite-icon", locals: {favorite: tv_show, type: :tv_show} %>
      </div>
    </div>
    <div class="name"><%= tv_show.name %></div>
</div>
