<div class="simple-calendar">
  <div class="row">
    <div class="col-8">
      <div class="calendar-heading">
        <%# if start_date > Date.current %>
          <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view %>
        <%# else %>
          <%# link_to t('simple_calendar.previous', default: ''), calendar.url_for_previous_view %>
        <%# end %>
        <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
        <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view %>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% date_range.each_slice(7) do |week| %>
            <tr>
              <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                  <% else %>
                    <% passed_block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div id="calendar-pannel">
        <div>
          <% if @selected_date.present? %>
            <h2>Airing<%= " on " + l(@selected_date, format: :long) %></h2>
            <% if @selected_episodes.present? %>
              <ul>
                <% @selected_episodes.each do |episode| %>
                  <li>
                    <div class="span-wrapper">
                      <span class="spot"></span>
                      <span class="tv-show-name"><%= link_to episode.season.tv_show.name, tv_show_path(tmdb_id: episode.season.tv_show.tmdb_id) %> -</span>
                      <span class="number">S0<%= episode.season_number %>xE0<%= episode.episode_number %></span>
                    </div>
                    <div class="episode-name"><%= episode.name %></div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <div class="span-wrapper">
                <span class="tv-show-name">Sorry, no airings today =(</span>
              </div>
              <% end %>
          <% end %>
        </div>
        <% unless start_date.year ==  Date.current.year && start_date.month == Date.current.month %>
          <%= link_to "Back to the daily overview", calendar_path(selected_date: Date.current), class: "today-link" %>
        <% end %>
      </div>
    </div>  
  </div>
</div>
