<!DOCTYPE html>
<html>
  <head>
    <title>NotifyTvShows</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%= render 'shared/navbar' %>
      <div class="flashes">
        <%= render 'shared/flashes' %>
      </div>
      <article class="flex-grow-1 <%= class_names devise_view? && %w(container devise mt-5) %>">
        <%= yield %>
      </article>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
